<h1>Мои товары</h1>
<div class="container-block">
  <div class="item-list">
    <div class="items-list-wrapper">
      {{#each allItems}}
        <div class="card mt-4" id="card-{{this.id}}" data-id="{{this.id}}" style="width: 18rem;">
          <div class="img-wrapper">
            <img src="{{this.img}}" class="card-img-top" alt="">
          </div>
          <div class="card-body">
            <div class="title-wrapper">
              <h5 class="card-title">{{this.name}}</h5>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>



