body {
  background-color: white;
}
h1 {
  margin: 15px;
}

.navbar {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-block {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.item-list {
  display: flex;
}

.categories {
  display: flex;
}

.items-list-wrapper{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  display: flex;
  margin-right: 20px;
}


.input-wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.title-wrapper {
  display: flex;
}

.form-wrapper {
  display: flex;
}

.img-wrapper {
  height: auto;
}

.btn-to-get-by-class {
  
}

@media (min-width: 768px) and (max-width: 1400px) {
 /*  .inputs {
    flex-direction: column;
  } */
}
